* {
  font-family: georgia, serif;
  font-style: normal;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.sidebar {
  width: 200px;
  float: center;
  padding: 10px;
  background-color: pink;
  margin: 10px
}
img.medium {
  width: 450px;
  float: center;
}
head.class {
  float: center;
}
.column {
  width: 300px;
  float: center;
}
